Repository mamba-org/setup-micromamba, pull requests merged in 2023-05, with the labels that each got.

#53 Resolve all input paths
  dist/index.js
  dist/post.js
  src/main.ts
  src/options.ts
Labels: bug

#54 Add documentation about CONDARC
  README.md
Labels: documentation

#57 Remove duplicate rc-file argument
  dist/index.js
  src/main.ts
Labels: bug

#66 Add automatic labeling
  .github/labeler.yml
  .github/release.yml
  .github/workflows/label.yml
Labels: ci

#67 Remove unnecessary dependencies and files, fix PR labeling
  .eslintignore
  .github/workflows/label.yml
  .prettierignore
  dist/index.js
  dist/post.js
  package.json
  pnpm-lock.yaml
  tsup.config.js
Labels: dependencies, ci

#69 Fix caching bug (1.4.1)
  .github/workflows/label.yml
  .github/workflows/test-cache.yml
  dist/post.js
  package.json
  src/cache.ts
Labels: bug

#74 Fix CI, add merge group
  .github/workflows/build.yml
  .github/workflows/check-dist.yml
  .github/workflows/test-cache.yml
  .github/workflows/test-post-cleanup.yml
  .github/workflows/test.yml
Labels: ci

#73 Add specifics about environment creation prereqs
  README.md
Labels: documentation
