Repository mamba-org/setup-micromamba, pull requests merged in 2023-12, with the labels that each got.

#179 Add download-micromamba
  .github/workflows/test.yml
  README.md
  action.yml
  dist/index.js
  dist/post.js
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/options.ts
  src/post.ts
  tsup.config.js
Labels: enhancement

#183 Make incorrect condarc only a warning
  .github/workflows/test.yml
  dist/index.js
  dist/post.js
  package.json
  src/options.ts
  test/.condarc.2
  test/.condarc.yml
  test/condarc.yml
Labels: bug

#184 Fix failing test
  test/.condarc
Labels: ci

#188 fix typo in suggested default shell
  README.md
Labels: documentation
