Repository mamba-org/setup-micromamba, pull requests merged in 2023-06, with the labels that each got.

#78 Document what it looks like to use a `conda-lock` environment file
  .github/workflows/test.yml
  README.md
  test/conda-lock.yml
Labels: documentation

#79 Improve environment-name search regex
  dist/index.js
  dist/post.js
  package.json
  src/util.ts
Labels: bug

#80 Add warning about create-args for conda-lock
  .github/labeler.yml
  README.md
Labels: documentation

#82 Use js-yaml for environment-name parsing
  .github/workflows/build.yml
  .github/workflows/check-dist.yml
  .github/workflows/test-cache.yml
  .github/workflows/test-post-cleanup.yml
  .github/workflows/test.yml
  dist/index.js
  dist/post.js
  package.json
  pnpm-lock.yaml
  src/util.ts
  test/environment2.yml
  tsup.config.js
Labels: bug, dependencies, ci
