Repository mamba-org/setup-micromamba, pull requests merged in 2023-09, with the labels that each got.

#138 Fix double spaces leading to incorrect behavior
  .github/workflows/test.yml
  dist/index.js
  dist/post.js
  package.json
  src/options.ts
Labels: bug, ci

#141 Fix behavior for create-args without env name
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  dist/index.js
  dist/post.js
  src/options.ts
Labels: bug

#152 Improve Shell Default Arguments
  README.md
Labels: documentation
