Repository mamba-org/setup-micromamba, pull requests merged in 2024-11, with the labels that each got.

#241 bug: Propagate errors from micromamba-shell
  package.json
  src/resources/micromamba-shell
Labels: enhancement

#246 fix: Do not copy old Windows activation script as of 2.0.4
  dist/licenses.txt
  dist/main.js
  package.json
  src/shell-init.ts
Labels: bug

#249 docs: Mention v2 in README.md
  README.md
Labels: documentation

#236 Test cmd.exe for older micromamba version
  .github/workflows/test.yml
Labels: bug
